/* frontend/src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* estilos globais */
html, body, #__next {
  height: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
